body {
    background-image: url(img/fon.jpg);
}

p {
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
    position: relative;
    text-align: center;
    font-style: italic;
    font-family: 'Micra';
}

#rectangle {
    position: relative;
    margin-top: 5% !important;
    margin: auto;
    width: 800px;
    height: 1100px;
    background: white;
}

img {
    float: left;
    margin: 20px 50px 0px 50px;
    width: 300px;
}

A:link {
    color: black;
}

A:visited {
    color: black;
}